In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep=dataset[['charges']]
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.linear_model import QuantileRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'quantile':['float',0.5],'alpha':['float',1.0],'fit_intercept':['bool',True],'solver':['highs-ds','highs-ipm','highs','interior-point','revised simplex'],'solver_options':['dict',None]}
grid=GridSearchCV(QuantileRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 80 candidates, totalling 400 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
390 fits failed out of a total of 400.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
200 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 144, in fit
    if self.alpha >= 0:
TypeError: '>=' not supported between instances of 'str' and 'int'

--------------------------------------------------------------------------------
100 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 151, in fit
    if self.quantile >= 1.0 or self.quantile <= 0.0:
TypeError: '>=' not supported between instances of 'str' and 'float'

--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 158, in fit
    f"The argument fit_intercept must be bool, got {self.fit_intercept}"
ValueError: The argument fit_intercept must be bool, got bool

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 184, in fit
    f"Solver {self.solver} is only available "
ValueError: Solver highs-ds is only available with scipy>=1.6.0, got 1.3.1

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 184, in fit
    f"Solver {self.solver} is only available "
ValueError: Solver highs-ipm is only available with scipy>=1.6.0, got 1.3.1

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 184, in fit
    f"Solver {self.solver} is only available "
ValueError: Solver highs is only available with scipy>=1.6.0, got 1.3.1

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_quantile.py", line 192, in fit
    "Invalid value for argument solver_options, "
ValueError: Invalid value for argument solver_options, must be None or a dictionary, got dict

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan -0.15031581
         nan -0.15029493]
  category=UserWarning,
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=QuantileRegressor(), n_jobs=-1,
             param_grid={'alpha': ['float', 1.0],
                         'fit_intercept': ['bool', True],
                         'quantile': ['float', 0.5],
                         'solver': ['highs-ds', 'highs-ipm', 'highs',
                                    'interior-point', 'revised simplex'],
                         'solver_options': ['dict', None]},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'alpha': 1.0, 'fit_intercept': True, 'quantile': 0.5, 'solver': 'revised simplex', 'solver_options': None}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_fit_intercept,param_quantile,param_solver,param_solver_options,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018746,0.011691,0.000000,0.000000,float,bool,float,highs-ds,dict,"{'alpha': 'float', 'fit_intercept': 'bool', 'q...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
1,0.012497,0.006249,0.000000,0.000000,float,bool,float,highs-ds,None,"{'alpha': 'float', 'fit_intercept': 'bool', 'q...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,57
2,0.009374,0.007654,0.000000,0.000000,float,bool,float,highs-ipm,dict,"{'alpha': 'float', 'fit_intercept': 'bool', 'q...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,56
3,0.006248,0.007653,0.000000,0.000000,float,bool,float,highs-ipm,None,"{'alpha': 'float', 'fit_intercept': 'bool', 'q...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,55
4,0.006249,0.007653,0.000000,0.000000,float,bool,float,highs,dict,"{'alpha': 'float', 'fit_intercept': 'bool', 'q...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.008265,0.006854,0.000000,0.000000,1,True,0.5,highs,None,"{'alpha': 1.0, 'fit_intercept': True, 'quantil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
76,0.006564,0.007417,0.000000,0.000000,1,True,0.5,interior-point,dict,"{'alpha': 1.0, 'fit_intercept': True, 'quantil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
77,24.984463,1.150027,0.000000,0.000000,1,True,0.5,interior-point,None,"{'alpha': 1.0, 'fit_intercept': True, 'quantil...",-0.162569,-0.105001,-0.121041,-0.14283,-0.220138,-0.150316,0.039979,2
78,0.003109,0.006218,0.000000,0.000000,1,True,0.5,revised simplex,dict,"{'alpha': 1.0, 'fit_intercept': True, 'quantil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,79
79,8.226347,0.130734,0.006254,0.007659,1,True,0.5,revised simplex,None,"{'alpha': 1.0, 'fit_intercept': True, 'quantil...",-0.162561,-0.104998,-0.120948,-0.14283,-0.220137,-0.150295,0.039993,1

In [14]:
age_input=float(input("Age:"))
bmi_input=int(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes 0 or 1:"))

Age:40
BMI:28
Children:2
Sex Male 0 or 1:0
Smoker yes 0 or 1:0

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[7535.40779839]

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but QuantileRegressor was fitted with feature names
  "X does not have valid feature names, but"