In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep=dataset[['charges']]
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
param_grid={'alpha':[1.0],'fit_intercept':['bool',True],'precompute':['bool','array_like of shape',False],'copy_X':['bool',True],'max_iter':['int',1000]}
grid=GridSearchCV(Lasso(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
100 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py", line 917, in fit
    % self.precompute
ValueError: precompute should be one of True, False or array-like. Got 'bool'

--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py", line 917, in fit
    % self.precompute
ValueError: precompute should be one of True, False or array-like. Got 'array_like of shape'

--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py", line 1059, in fit
    check_input=False,
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py", line 648, in enet_path
    coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
  File "sklearn\linear_model\_cd_fast.pyx", line 101, in sklearn.linear_model._cd_fast.enet_coordinate_descent
TypeError: an integer is required

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan 0.74664942
        nan        nan        nan        nan        nan 0.74664942
        nan        nan        nan        nan        nan 0.74664942
        nan        nan        nan        nan        nan 0.74664942]
  category=UserWarning,

GridSearchCV(estimator=Lasso(), n_jobs=-1,
             param_grid={'alpha': [1.0], 'copy_X': ['bool', True],
                         'fit_intercept': ['bool', True],
                         'max_iter': ['int', 1000],
                         'precompute': ['bool', 'array_like of shape', False]},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercept': 'bool', 'max_iter': 1000, 'precompute': False}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_copy_X,param_fit_intercept,param_max_iter,param_precompute,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.056240,0.012498,0.000000,0.000000,1,bool,bool,int,bool,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
1,0.028119,0.018219,0.000000,0.000000,1,bool,bool,int,array_like of shape,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
2,0.024995,0.007653,0.000000,0.000000,1,bool,bool,int,False,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
3,0.000000,0.000000,0.000000,0.000000,1,bool,bool,1000,bool,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
4,0.003949,0.006553,0.000000,0.000000,1,bool,bool,1000,array_like of shape,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,0.144660,0.000000,0.015645,0.000000,1,bool,bool,1000,False,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",0.761,0.708758,0.775569,0.731382,0.756537,0.746649,0.023702,1
6,0.001196,0.000399,0.000000,0.000000,1,bool,True,int,bool,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
7,0.001595,0.000489,0.000000,0.000000,1,bool,True,int,array_like of shape,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
8,0.001213,0.001614,0.000000,0.000000,1,bool,True,int,False,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
9,0.006250,0.007654,0.000000,0.000000,1,bool,True,1000,bool,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
10,0.000000,0.000000,0.000000,0.000000,1,bool,True,1000,array_like of shape,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
11,0.049997,0.028639,0.009387,0.007664,1,bool,True,1000,False,"{'alpha': 1.0, 'copy_X': 'bool', 'fit_intercep...",0.761,0.708758,0.775569,0.731382,0.756537,0.746649,0.023702,1
12,0.006237,0.007638,0.000000,0.000000,1,True,bool,int,bool,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
13,0.003125,0.006250,0.000000,0.000000,1,True,bool,int,array_like of shape,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
14,0.009373,0.007653,0.000000,0.000000,1,True,bool,int,False,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
15,0.000000,0.000000,0.000000,0.000000,1,True,bool,1000,bool,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
16,0.000000,0.000000,0.000000,0.000000,1,True,bool,1000,array_like of shape,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
17,0.003124,0.006249,0.006249,0.007654,1,True,bool,1000,False,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",0.761,0.708758,0.775569,0.731382,0.756537,0.746649,0.023702,1
18,0.003124,0.006248,0.000000,0.000000,1,True,True,int,bool,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
19,0.003124,0.006248,0.000000,0.000000,1,True,True,int,array_like of shape,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
20,0.006249,0.007653,0.000000,0.000000,1,True,True,int,False,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
21,0.000000,0.000000,0.000000,0.000000,1,True,True,1000,bool,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
22,0.003124,0.006249,0.000000,0.000000,1,True,True,1000,array_like of shape,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
23,0.006249,0.007653,0.003124,0.006249,1,True,True,1000,False,"{'alpha': 1.0, 'copy_X': True, 'fit_intercept'...",0.761,0.708758,0.775569,0.731382,0.756537,0.746649,0.023702,1

In [14]:
age_input=float(input("Age:"))
bmi_input=int(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker yes 0 or 1:"))

Age:45
BMI:29
Children:2
Sex Male 0 or 1:1
Smoker yes 0 or 1:0

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[9717.34872632]

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  "X does not have valid feature names, but"